$bg-yellow: #f9c74f;
$bg-dark-green: #4f5823;
$bg-light-green: #7eaf7d;
$bg-light-blue: #cae5ff;
$bg-red: #df4b32;
$bg-purple: #523e8f;
$bg-white: #fff;

$font-primary: #fff;
$font-secondary: #000;
$font-tertiery: #f2b035;
