@import 'variables';
@import 'typography';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  color: black;
}

/*
.home-page {
  min-height: 100vh;
}
*/