@import 'variables';
@import 'typography';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $bg-yellow;
}

h1 {
  color: black;
}

html, body {
  overflow-x: hidden;
}

